aside {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(42, 168, 147);
    padding: 20px 10px;
}

.aside-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}