footer {
    background: coral;
    padding: 10px 20px;
}

footer .nav-wrap {
    display: flex;
    flex-direction: column;
    justify-content: cneter;
    align-items: center;
    gap: 10px;
}

footer .nav-wrap .nav-list {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 229, 196);
    padding: 10px 20px;
}

footer .nav-wrap .nav-list li:not(:last-of-type)::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 14px;
    background: #000;
    margin-left: 50px;
}