.container {
  border: 2px solid #000;
  background: aliceblue;
}

.inner {
  display: flex;
  gap: 10px;
  border: 2px solid blue;
  padding: 10px;
}
.content {
  display: flex;
  gap: 10px;
  flex: 1;
}

header {
  background: red;
}
nav {
  background: orange;
}
aside {
  
  background: rgb(102, 102, 224);
}
.card {
  flex: 1;
  background: deepskyblue;
}

footer {
  background: green;
}
